

SBA2
/* The animation code */
@keyframes  slide{
  from {background-color: coral;}
  to {background-color: #ffff00;}
}

/* The element to apply the animation to */
h2 {
  width: 100px;
  height: 100px;
  background-color: coral;
  animation-name: ;
  animation-duration: 4s;
}
.label{
    padding-left: 10 px;
    padding-right: 10 px;

}

th, td {
    padding: 15px;
  }

th, td {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 30px;
    text-align: center;
   
  }
  table {
    border-spacing: 30px;
    text-align: center;
  }

  table, th {
    border: 3px solid coral;
    margin: 30px;
    
  }
  
    



    
    